﻿@model SecondHand.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Second Hand</h1>
    <p class="lead">The best place to find deals on used goods!</p>
        <form action="/Products/Search" method="get" id="form_search" name="form_search" method="get" action="" class="form-inline">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <input class="form-control" placeholder="Search for..." type="text" <input id="Query" name="Query">
                </div>
            </div>
        </form>
    </div>


        @*<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>