﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("ChangePicture", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()
<h2>Current Picture</h2>

<h3>
    <img src="@Url.Action("UserPhotos", "Home")" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h3>

<div class="form-group">
    <div class="col-md-10">
        <input type="file" name="ProfilePicture" id="ProfilePicture" />
        <input type="submit" value="Change picture" />
    </div>
</div>
}