﻿@using Microsoft.AspNet.Identity
@model SecondHand.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            if (Model.Picture != null)
            {
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" style="width:160px;height:160px; background: #FFFFFF;
            margin: auto;
            -moz-border-radius: 60px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888;" />
            }

        }
        <br />
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price):
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleSpot):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Seller:
        </dt>

        <dd>
            @Html.DisplayName((string)@ViewBag.name) (@Html.Action("Rating", "Products", new { id = Model.owner }))
        </dd>

        <dt>Buy Product:</dt>
        <dd>[ 
              @if (Model.state == 0 && Model.owner!= User.Identity.GetUserId()) {@Html.ActionLink("Initiate negotiations", "InitiateNegotiation", new { buyer = User.Identity.GetUserId(), seller = Model.owner, productId = Model.Id})}
              @if(Model.state == 1 && Model.owner != User.Identity.GetUserId()) { <text>Sorry, there are currently negotiations underway for this product</text>}
              @if(Model.state == 2 && Model.owner != User.Identity.GetUserId()) { <text>Sorry, this product is not for sale anymore</text>} ]</dd>

    </dl>
</div>
<p>
    @{
        if (Model.owner == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
    }

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    | @Html.ActionLink("Back to List", "Index")
</p>
<br /><br />
@{ 
    int i = 0;
    string currentId = User.Identity.GetUserId();
}



@foreach (var item in Model.Questions)
{
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="@Url.Action("UserPhotosById", "Home", new { id = item.asker })">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@Html.Action("UserName", "Home", new { id = item.asker })</strong> <span class="text-muted">asked</span>
                </div>
                <div class="panel-body">
                    @Html.DisplayName(item.question)
                </div><!-- /panel-body -->
            @if (item.reply != null)
            {
                <div class="panel-heading">
                    <strong>@Html.Action("UserName", "Home", new { id = Model.owner })</strong> <span class="text-muted">replied</span>
                </div>
                <div class="panel-body">
                    @Html.DisplayName(item.reply)
                </div><!-- /panel-body -->
            }
            @if (Model.owner == currentId && item.reply == null)
            {
                <text>[ </text>@Html.ActionLink("Reply", "Reply", new { productId = Model.Id, userId = item.asker, question = item.question, pos = i  })
                <text> | </text>@Html.ActionLink("Delete", "DeleteComment", new { productId = Model.Id, pos = i, userId = User.Identity.GetUserId() })<text> ]</text>
            }
            else if (item.asker == currentId && currentId!=null)
            {
                <text>[ </text>@Html.ActionLink("Delete", "DeleteComment", new { productId = Model.Id, pos = i, userId = User.Identity.GetUserId() })<text> ]</text>
            }

            </div><!-- /panel panel-default -->
            
        </div><!-- /col-sm-5 -->
        
        </div>
        i += 1;

}
@if (Model.state != 2)
{
    <h5>Would you like to ask a question to the seller?</h5>
    using (Html.BeginForm("Ask", "Products", new { productId = Model.Id, userId = User.Identity.GetUserId() }))
    {
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextArea("comment", new { @cols = "120", @rows = "6" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ask!" class="btn btn-default" />
            </div>
        </div>
    }
}

@if(Model.state == 2)
{
    <h5>Sale is closed and not open for further questions.</h5>
}

<br /><br /><br /><br /><br /><br /><br /><br /><br />