﻿@model SecondHand.ViewModels.CommentViewModel
@{
    ViewBag.Title = "Reply";
}

<h2>Reply question</h2>

<div class="row">
    <div class="col-sm-1">
        <div class="thumbnail">
            <img class="img-responsive user-photo" src="@Url.Action("UserPhotosById", "Home", new { id = Model.asker })">
        </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@Html.Action("UserName", "Home", new { id = Model.asker })</strong> <span class="text-muted">asked</span>
            </div>
            <div class="panel-body">
                @Html.DisplayName(Model.question)
            </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
</div>

<br />
@using (Html.BeginForm("ReplyPost", "Products", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(model => model.productId)
    @Html.HiddenFor(model => model.cont)
    @Html.TextAreaFor(model => model.reply, new { @cols = "80", @rows = "4" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

