﻿@using Microsoft.AspNet.Identity
@model IEnumerable<SecondHand.Models.Product>

@{
    ViewBag.Title = "Search Products";
}

<h2>Search products</h2>

<p>
    @Html.ActionLink("Sell a new product", "Create")
</p>

<form action="/Products/Search" method="get" id="form_search" name="form_search" method="get" action="" class="form-inline">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input class="form-control" placeholder="Search for..." type="text" <input id="Query" name="Query">
        </div>
    </div>
</form>
<br /><br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Seller
        </th>
        <th>
            State
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            R$@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @if (item.state == 0)
            { <text>On sale</text> }
            else if (item.state == 0)
            { <text>Under negotiations</text>}
            else
            { <text>Not available</text>}
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
