﻿@using Microsoft.AspNet.Identity
@using System.Data.Entity
@using System.Web
@using Microsoft.AspNet.Identity.EntityFramework
@using SecondHand.Models
@model SecondHand.Models.Negotiation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Negotiation</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @{ 
            string userId = User.Identity.GetUserId();
        }
        @if (userId != Model.seller && userId != Model.buyer)
        {
            <dt>Not authorized.</dt>
            <br />
        }
        else if (User.Identity.GetUserId() == Model.buyer)
        {
            var store = new UserStore<ApplicationUser>(new ApplicationDbContext());
            var userManager = new UserManager<ApplicationUser>(store);
            ApplicationUser user = userManager.FindById(Model.seller);
            <p>Congratulations! To follow on your purchase please contact the seller at the following information:</p>
            <dt>Username:</dt> <dd>@user.FullName</dd>
            <dt>Email:</dt> <dd>@user.Email</dd>
            <dt>Phone:</dt> <dd>@user.PhoneNumber</dd>
            <br /><br />

            if (Model.control == 2)
            {
                <h3>Negotiation was ended successfully.</h3>
            }

            if (Model.control != 2)
            {
                if (Model.control == 1)
                {
                    using (Html.BeginForm("NegotiationSuccessful", "Negotiations", new { id = Model.id }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Negotiation successfull" class="btn btn-default" />
                            </div>
                        </div>
                        <br />
                        <br />
                    }
                }
                else
                {
                    <br />
                    <dd>Awaiting confirmation from seller on negotiation status.</dd>
                }
            }



            if (Model.control == 1 || Model.control == 0)
            {
                using (Html.BeginForm("TerminateNegotiation", "Negotiations", new { id = Model.id }))
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Give up on negotiation" class="btn btn-default" />
                        </div>
                    </div>
                }
            }



        }
        else
        {
            var store = new UserStore<ApplicationUser>(new ApplicationDbContext());
            var userManager = new UserManager<ApplicationUser>(store);
            ApplicationUser user = userManager.FindById(Model.buyer);
            <p>Congratulations! To follow on your purchase please contact the buyer at the following information:</p>
            <dt>Username:</dt>
            <dd>@user.FullName</dd>
            <dt>Email:</dt>
            <dd>@user.Email</dd>
            <dt>Phone:</dt>
            <dd>@user.PhoneNumber</dd>
            <br />
            <br />

            if (Model.control == 2)
            {
                <h3>Negotiation was ended successfully.</h3>
            }

            if (Model.control != 2)
            {
                if (Model.control == 0)
                {
                    using (Html.BeginForm("NegotiationSuccessful", "Negotiations", new { id = Model.id }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Negotiation was successful" class="btn btn-default" />
                            </div>
                        </div>
                        <br />
                        <br />
                    }

                    using (Html.BeginForm("TerminateNegotiation", "Negotiations", new { id = Model.id }))
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Give up on negotiation" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
            }
        }






    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
