﻿@model IEnumerable<SecondHand.Models.Negotiation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Seller
        </th>
        <th>
            Buyer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("ProductName", "Products", new { id = item.productId })
        </td>
        <td>
            @Html.Action("UserName", "Home", new { id = item.seller })
        </td>
        <td>
            @Html.Action("UserName", "Home", new { id = item.buyer })
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
