﻿@model SecondHand.Models.ApplicationUser
@{
    ViewBag.Title = "Rating";
}

<h2>Rating</h2>

<h4>Thank you for buying at Second Hand!</h4>

<p>Please rate your experience with the seller @Html.Display(Model.FullName)</p>

@using (Html.BeginForm("RatingPost", "Negotiations", new { id = Model.Id }))
{   @Html.AntiForgeryToken()
    @Html.DropDownListFor(m => m.Rating, (SelectList)ViewBag.MyList, "-Please select-")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Rate!" class="btn btn-default" />
        </div>
    </div>
}