﻿@model SecondHand.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <h3>
     @{
         if (Model.ImageFile != null)
         {
             var base64 = Convert.ToBase64String(Model.ImageFile);
             var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" style="width:160px;height:160px; background: #FFFFFF;
            margin: auto;
            -moz-border-radius: 60px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888;" />
         }

    }

    </h3>

    <dl class="dl-horizontal">
        <br />
        <dt>Username:
        <dd>@Html.DisplayTextFor(model => model.FullName)</dd></dt>
        <dt>Email: 
        <dd>@Html.DisplayTextFor(model => model.Email)</dd></dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
