﻿@model SecondHand.Models.AdminData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdminData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Announced Items: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncedItems)
        </dd>

        <dt>
            Asked Questions: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AskedQuestions)
        </dd>
        <dt>
            Replied Questions:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepliedQuestions)
        </dd>

        <dt>
            Sold Products: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldProducts)
        </dd>

        <dt>User Information:</dt>
        <dd>[ @Html.ActionLink("Browse user information", "Index", "ApplicationUsers") ]</dd>

        <dt>Categories:</dt>
        <dd>[ @Html.ActionLink("Create or delete categories", "Index", "Categories") ]</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
